/* Inputs */

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: $space-1 ($space-1 * 2);
  font-size: $font-size-default;
  border: 1px solid palette(gray);
  border-radius: 2px;
  transition: background-color $animation-time linear;

  &:focus {
    background-color: palette(gray, lighter);
  }
}

.c-form {

  .form-title {
    margin-bottom: $space-1 * 4;
  }

  .form-control {
    margin-bottom: $space-1 * 3;
    position: relative;
  }

  .form-error {
    display: block;
    color: palette(states, error);
    border: 1px solid palette(states, error);
    border-radius: 2px;
    padding: $space-1 ($space-1 * 2);
    position: absolute;
    white-space: nowrap;
    left: 100%;
    height: 32px;
    top: 0; bottom: 0;
    margin: auto;
    margin-left: 10px;

    &:after, &:before {
    	right: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    &:after {
    	border-color: rgba(255, 255, 255, 0);
    	border-right-color: palette(white);
    	border-width: 6px;
    	margin-top: -6px;
    }
    &:before {
    	border-color: rgba(0, 0, 0, 0);
    	border-right-color: palette(states, error);
    	border-width: 7px;
    	margin-top: -7px;
    }
  }
}
