.c-header {
  background-color: $color-primary;
  padding: ($space-1 * 4) 0;
  color: palette(white);

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: $font-size-huge;
    font-weight: bold;
    color: palette(white);
  }
}
