.c-nav {

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-item {
    margin-right: $space-1 * 2;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    color: inherit;

    &.-active {
      font-weight: bold;
    }
  }

  &.-stacked {

    .nav-list {
      display: block;
    }

    .nav-item {
      margin-bottom: $space-1;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
