.c-pagination-list {
  display: flex;
  justify-content: center;

  > .pagination-item {
    display: inline-block;
    padding: 10px;

    cursor: pointer;

    &[disabled] {
      pointer-events: none;
      opacity: .3;
    }
  }
}
