.c-sc-list {
  list-style-type: none;
}

.c-sc {
  display: block;
  padding-bottom: $space-1 * 4;

  &:hover {
    .sc-img {
      transform: scale(1.05);
    }
  }

  .sc-img {
    transition: all $animation-time linear;
    height: 170px;
    background-color: palette(gray, light);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: $space-1;
  }
}

.c-sc-edit,
.c-sc-new {
  .delete.button {
    margin-left: 10px;
  }
}
