.c-table {
  width: 100%;
  table-layout: fixed;

  th {
    text-transform: uppercase;
    padding: $space-1 ($space-1 * 2);
  }

  th, td {
    text-align: left;
  }

  tbody {

    td {
      padding: $space-1 ($space-1 * 2);
    }

    tr {
      &:nth-child(odd) {
        background-color: palette(gray, light);
      }
    }
  }

  .table-btn {
    border: none;
    text-transform: inherit;
    background-color: inherit;
    font-size: inherit;
    padding: 0;
  }

  .table-btn-icon {
    margin-right: $space-1;
  }
}
