.c-btn {
  display: inline-block;
  border-radius: 2px;
  padding: ($space-1 * 2) ($space-1 * 4);
  font-size: $font-size-default;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  transition: all $animation-time linear;

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }

  // Types
  &.-primary {
    background-color: $color-primary;
    color: palette(white);

    &:hover {
      background-color: lighten($color-primary, 20%);
    }
  }

  &.-secondary {
    background-color: $color-secondary;
    color: palette(white);

    &:hover {
      background-color: lighten($color-secondary, 20%);
    }
  }

  // Position
  &.-centered {
    display: block;
    margin: 0 auto;
  }
}
