{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "L": true,
    "config": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "extends": "vizzuality",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/void-dom-elements-no-children": 0,
    "max-len": ["warn", 120],
    "arrow-body-style": "off",
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack/development.js"
      }
    }
  }
}
